{% extends 'base.html' %}
{% load static %}

{% block title %}
  Ваш план
{% endblock %}

{% block content_center %}
  <div class="text-white plan_stages rounded m-1 p-1 mt-0">
    <div>
      <div class="fs-4 d-flex flex-row text-center">
        <div class="plan_stage_1 m-3 mt-0 text-white p-3 rounded">
          Moueix
          <br>
          До 08.2024
          <br>
          27 шагов
          <br>
          1 совет
        </div>
        <div class="plan_stage_2 m-3 mt-0 text-white p-3 rounded">
          Сruzeau
          <br>
          До 11.2023
          <br>
          15 шагов
          <br>
          0 советов
        </div>
        <div class="plan_stage_3 m-3 mt-0 text-white p-3 rounded">
          Merlot
          <br>
          До 05.2024
          <br>
          21 шаг
          <br>
          5 советов
        </div>
        <div class="plan_stage_4 m-3 mt-0 text-white p-3 rounded">
          Shardone
          <br>
          До 09.2023
          <br>
          19 шагов
          <br>
          3 совета
        </div>
      </div>
        <div class="container text-black">
          <div class="row">
            <div class="col">
              <a href="{% url 'tasks' %}" class="text-decoration-none text-black">
                <div class="plan_task_1 m-1 p-3 rounded">
                  <span class="text-center fs-5">
                    <b>Шаг 1. Полив сектора</b>
                  </span>
                  <br>
                  <span class="text-start">
                    Исполнитель: Александр Дегтярев
                    <br>
                    Расположение: сектор 23
                    <br>
                    Ответственный: Сергей Ведянский
                    <br>
                    Статус: Не выполнено
                  </span>
                </div>
              </a>
              <a href="{% url 'tasks' %}" class="text-decoration-none text-black">
                <div class="plan_task_1 m-1 p-3 rounded">
                  <span class="text-center fs-5">
                    <b>Шаг 2. Полив сектора</b>
                  </span>
                  <br>
                  <span class="text-start">
                    Исполнитель: Александр Дегтярев
                    <br>
                    Расположение: сектор 23
                    <br>
                    Ответственный: Сергей Ведянский
                    <br>
                    Статус: Не выполнено
                  </span>
                </div>
              </a>
              <a href="{% url 'tasks' %}" class="text-decoration-none text-black">
                <div class="plan_task_1 m-1 p-3 rounded">
                  <span class="text-center fs-5">
                    <b>Шаг 3. Полив сектора</b>
                  </span>
                  <br>
                  <span class="text-start">
                    Исполнитель: Александр Дегтярев
                    <br>
                    Расположение: сектор 23
                    <br>
                    Ответственный: Сергей Ведянский
                    <br>
                    Статус: Не выполнено
                  </span>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="{% url 'tasks' %}" class="text-decoration-none text-black">
                <div class="plan_task_2 m-1 p-3 rounded">
                  <span class="text-center fs-5">
                    <b>Шаг 1. Полив сектора</b>
                  </span>
                  <br>
                  <span class="text-start">
                    Исполнитель: Александр Дегтярев
                    <br>
                    Расположение: сектор 23
                    <br>
                    Ответственный: Сергей Ведянский
                    <br>
                    Статус: Не выполнено
                  </span>
                </div>
              </a>
              <a href="{% url 'tasks' %}" class="text-decoration-none text-black">
                <div class="plan_task_2 m-1 p-3 rounded">
                  <span class="text-center fs-5">
                    <b>Шаг 2. Полив сектора</b>
                  </span>
                  <br>
                  <span class="text-start">
                    Исполнитель: Александр Дегтярев
                    <br>
                    Расположение: сектор 23
                    <br>
                    Ответственный: Сергей Ведянский
                    <br>
                    Статус: Не выполнено
                  </span>
                </div>
              </a>
              <a href="{% url 'tasks' %}" class="text-decoration-none text-black">
                <div class="plan_task_2 m-1 p-3 rounded">
                  <span class="text-center fs-5">
                    <b>Шаг 3. Полив сектора</b>
                  </span>
                  <br>
                  <span class="text-start">
                    Исполнитель: Александр Дегтярев
                    <br>
                    Расположение: сектор 23
                    <br>
                    Ответственный: Сергей Ведянский
                    <br>
                    Статус: Не выполнено
                  </span>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="{% url 'tasks' %}" class="text-decoration-none text-black">
                <div class="plan_task_3 m-1 p-3 rounded">
                  <span class="text-center fs-5">
                    <b>Шаг 1. Полив сектора</b>
                  </span>
                  <br>
                  <span class="text-start">
                    Исполнитель: Александр Дегтярев
                    <br>
                    Расположение: сектор 23
                    <br>
                    Ответственный: Сергей Ведянский
                    <br>
                    Статус: Не выполнено
                  </span>
                </div>
              </a>
              <a href="{% url 'tasks' %}" class="text-decoration-none text-black">
                <div class="plan_task_3 m-1 p-3 rounded">
                  <span class="text-center fs-5">
                    <b>Шаг 2. Полив сектора</b>
                  </span>
                  <br>
                  <span class="text-start">
                    Исполнитель: Александр Дегтярев
                    <br>
                    Расположение: сектор 23
                    <br>
                    Ответственный: Сергей Ведянский
                    <br>
                    Статус: Не выполнено
                  </span>
                </div>
              </a>
              <a href="{% url 'tasks' %}" class="text-decoration-none text-black">
                <div class="plan_task_3 m-1 p-3 rounded">
                  <span class="text-center fs-5">
                    <b>Шаг 3. Полив сектора</b>
                  </span>
                  <br>
                  <span class="text-start">
                    Исполнитель: Александр Дегтярев
                    <br>
                    Расположение: сектор 23
                    <br>
                    Ответственный: Сергей Ведянский
                    <br>
                    Статус: Не выполнено
                  </span>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="{% url 'tasks' %}" class="text-decoration-none text-black">
                <div class="plan_task_4 m-1 p-3 rounded">
                  <span class="text-center fs-5">
                    <b>Шаг 1. Полив сектора</b>
                  </span>
                  <br>
                  <span class="text-start">
                    Исполнитель: Александр Дегтярев
                    <br>
                    Расположение: сектор 23
                    <br>
                    Ответственный: Сергей Ведянский
                    <br>
                    Статус: Не выполнено
                  </span>
                </div>
              </a>
              <a href="{% url 'tasks' %}" class="text-decoration-none text-black">
                <div class="plan_task_4 m-1 p-3 rounded">
                  <span class="text-center fs-5">
                    <b>Шаг 2. Полив сектора</b>
                  </span>
                  <br>
                  <span class="text-start">
                    Исполнитель: Александр Дегтярев
                    <br>
                    Расположение: сектор 23
                    <br>
                    Ответственный: Сергей Ведянский
                    <br>
                    Статус: Не выполнено
                  </span>
                </div>
              </a>
              <a href="{% url 'tasks' %}" class="text-decoration-none text-black">
                <div class="plan_task_4 m-1 p-3 rounded">
                  <span class="text-center fs-5">
                    <b>Шаг 3. Полив сектора</b>
                  </span>
                  <br>
                  <span class="text-start">
                    Исполнитель: Александр Дегтярев
                    <br>
                    Расположение: сектор 23
                    <br>
                    Ответственный: Сергей Ведянский
                    <br>
                    Статус: Не выполнено
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}
