{% extends 'base.html' %}
{% load static %}

{% block title %}
  План
{% endblock %}

{% block content_center %}
  <div class="d-flex flex-row">
    <div class="text-white text-center plan_target rounded interface_background m-1 mt-0 p-3">
      <h5>
        Создайте цель
      </h5>
      <div class="container">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>Фото</th>
              <th>Название</th>
              <th>Объем производства</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="{% static 'img/vino_image.png' %}" class="vino_icon rounded"></td>
              <td><input class="form-control" value="Moueix"></td>
              <td>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Бутылок</span>
                  <input type="text" class="form-control" value="200">
                </div>
              </td>
            </tr>
            <tr>
              <td><img src="{% static 'img/vino_image.png' %}" class="vino_icon rounded"></td>
              <td><input class="form-control" value="Cruzeau"></td>
              <td>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Бутылок</span>
                  <input type="text" class="form-control" value="150">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row m-1">
          <div class="col">
            <div class="container">
              <div class="form-group">
                <label for="dateInput">Дата начала:</label>
                <input type="date" class="form-control" id="dateInput">
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container">
              <div class="form-group">
                <label for="dateInput">Дата окончания:</label>
                <input type="date" class="form-control" id="dateInput">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="plan_info rounded interface_background m-1 mt-0">
    </div>
  </div>
  <div class="plan_stages rounded interface_background m-1">
    <div class="text-center">
    </div>
  </div>
{% endblock %}
