.site_background {
    background-color: #000033;
}

.interface_background {
    background-color: #2B2B4B;
}

.header_nav_input {
    background-color: #2B2B4B;
}

.call_icon {
    height: 35px;
}

.chat_icon {
    height: 35px;
}

.overs_icon {
    height: 45px;
    width: 45px;
    display: inline;
}

.tasks_profile_icon {
    height: 90px;
    width: 90px;
}

.notifications_icon {
    height: 35px;
}

.vino_icon {
    height: 40px;
    background-color: white;
}

.plan_risks_circle {
    height: 70px;
    width: 70px;
}

.header {
    box-shadow: 0px 7px 8px 3px rgba(0, 0, 0, 0.61);
}

.card_top {
    width: 220px;
    height: 86px;
}

.card_reports {
    background: linear-gradient(89.69deg, #F39034 2.03%, #FF2727 99.73%);
    box-shadow: 4px 4px 10px rgba(244, 144, 53, 0.3);
}

.card_transports {
    background: linear-gradient(270deg, #003AD2 0%, #0097EC 100%);
    box-shadow: 4px 4px 10px rgba(1, 149, 236, 0.3);
}

.card_equipment {
    background: linear-gradient(90deg, rgba(52,255,62,1) 0%, rgba(0,255,93,1) 100%);
    box-shadow: 4px 4px 10px rgba(1, 149, 236, 0.3);
}

.card_staff {
    background: linear-gradient(90deg, rgba(214,99,255,1) 0%, rgba(188,0,255,1) 100%);
    box-shadow: 4px 4px 10px rgba(1, 149, 236, 0.3);
}

.diagram {
    width: 220px;
    height: 250px;
}

.chart {
    width: 660px;
    height: 250px;
}

.projects {
    width: 888px;
    height: 280px;
}

.card_profile {
    width: 300px;
    height: 86px;
}

.card_chats {
    width: 300px;
    height: 538px;
}

.orders_filters {
    width: 500px;
    height: 120px;
}

.orders_table {
    width: 500px;
    height: 500px;
}

.orders_info {
    width: 700px;
    height: 120px;
}

.orders_info_2 {
    width: 700px;
    height: 500px;
}

.tasks_map_block {
    width: 700px;
    height: 625px;
}

.plan_target {
    width: 600px;
    height: 330px;
}

.plan_info {
    width: 600px;
    height: 330px;
}

.plan_stages {
    width: 1207px;
    height: 290px;
}

.plan_stage_1 {
    width: 280px;
    height: 200px;

    background: linear-gradient(220.74deg, #1FD071 -9.53%, #3D4754 119.88%);
    box-shadow: 4px 4px 10px rgba(151, 80, 239, 0.3);
}

.plan_stage_2 {
    width: 280px;
    height: 200px;

    background: linear-gradient(220.74deg, #9380D5 -9.53%, #260033 119.88%);
    box-shadow: 4px 4px 10px rgba(151, 80, 239, 0.3);
}

.plan_stage_3 {
    width: 280px;
    height: 200px;

    background: linear-gradient(89.69deg, #F39034 2.03%, #FF2727 99.73%);
    box-shadow: 4px 4px 10px rgba(151, 80, 239, 0.3);
}

.plan_stage_4 {
    width: 280px;
    height: 200px;

    background: linear-gradient(270deg, #003AD2 0%, #0097EC 100%);
    box-shadow: 4px 4px 10px rgba(151, 80, 239, 0.3);
}

.plan_task_1 {
    font-size: 14px;
    background: #1FD071;
}

.plan_task_2 {
    font-size: 14px;
    background: #9380D5;
}

.plan_task_3 {
    font-size: 14px;
    background: #F39034;
}

.plan_task_4 {
    font-size: 14px;
    background: #0097EC;
}

.map_block {
    width: 1220px;
    height: 625px;
}

.map_image {
    height: 573px;
    width: 1100px;
}

.map_info {
    top: 20%;
    left: 6%;
}

.map_info_small {
    font-size: 12px;
}

.map_a {
    width: 43%;
    height: 60%;
    left: 31%;
    top: 30%;
}

.sector_map_image {
    height: 90%;
}

.sector_map_top {
    height: 39%;
}

.sector_map_bottom {
    height: 38%;
}

.fertilizers_top {
    height: 39%;
}

.fertilizers_bottom {
    height: 38%;
}